[submodule "3rdparty/necrolog"]
	path = 3rdparty/necrolog
	url = https://github.com/fvacek/necrolog.git
[submodule "3rdparty/libshv"]
	path = 3rdparty/libshv
	url = https://github.com/silicon-heaven/libshv.git
