QMenu,QMenuBar {
	background-color: #525252;
	color: white;
	border: 1px solid gray;
}
/*
QMenu::item, QMenuBar::item {
     spacing: 3px; 
   padding: 4px 4px;
     background: transparent;
     border-radius: 4px;
 }
*/
 QMenu::item:disabled, QMenuBar::item:disabled {
     color: gray;
 }

 QMenu::item:selected, QMenuBar::item:selected {
	color: black;
	background: #FDE364;
    /* background: darkgray;*/
 }

 QMenu::item:pressed, QMenuBar::item:pressed {
     background: darkgray;
 }
 
qf--qmlwidgets--framework--PartSwitch {
	background: #525252;
/* 	background-color: #525252; */
/* 	color: white; */
/* 	border: 2px solid gray; */
}

qf--qmlwidgets--framework--PartSwitch::handle {
	background: #525252;
	/*background: lightgray;*/
}

qf--qmlwidgets--framework--PartSwitch QToolButton {
/* 	background-color: #525252; */
	color: white;
}

qf--qmlwidgets--framework--PartSwitch QToolButton:hover {
	color: black;
	background: #FDE364;
/* 	
	background: gray;
	color: black;
 */
}

qf--qmlwidgets--framework--PartSwitch QToolButton:checked {
	/*background: #FFFD00;*/
	color: black;
}

qf--qmlwidgets--dialogs--internal--CaptionFrame {
	background: #FDE364;
	/*background: #FFA842;*/
}
qf--qmlwidgets--dialogs--internal--CaptionFrame[alert="true"] {
	background: salmon;
	/*background: #FFA842;*/
}

qf--qmlwidgets--dialogs--internal--CaptionFrame QLabel {
	font: 18pt;
	color:black;
}
